#### Week 1 Assignment Video Game Sales with Ratings/
##### Michael Perrine
##### DSC 550
##### Professor Werner

In [113]:
# Import libraries
import pandas as pd
import numpy as np

1. Load the dataset as a Pandas data frame.

In [77]:
# This code uploads the data set into jupyter notebook
gaming = pd.read_csv(r"C:\Users\mchlp\OneDrive\Documents\Data Mining\video game.csv")

2. Display the first ten rows of data.

In [78]:
# This code displays the first 10 rows
gaming.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

3. Find the dimensions (number of rows and columns) in the data frame. What do these two numbers represent in the context of the data?

In [79]:
# Use the shape function to find the dimension of the data set. These two figures 
# gives the number of rows and columns in the data set. 
gaming.shape

(16719, 16)

4. Find the top five games by critic score.

In [80]:
# This code gives the top five games by critic score
gaming[['Name', 'Critic_Score']].sort_values(by="Critic_Score", axis=0, ascending=False).head(5)

                          Name  Critic_Score
57         Grand Theft Auto IV          98.0
5350               SoulCalibur          98.0
227   Tony Hawk's Pro Skater 2          98.0
51         Grand Theft Auto IV          98.0
165         Grand Theft Auto V          97.0

5. Find the number of video games in the data frame in each genre.

In [81]:
# This code will group the number of games in each genre
gaming[['Name','Genre']].groupby('Genre').count()

              Name
Genre
Action        3370
Adventure     1303
Fighting       849
Misc          1750
Platform       888
Puzzle         580
Racing        1249
Role-Playing  1500
Shooter       1323
Simulation     874
Sports        2348
Strategy       683

6. Find the first five games in the data frame on the SNES platform.

In [82]:
gaming[['Name','Platform']][gaming['Platform']== 'SNES'].head(5)

                                     Name Platform
18                      Super Mario World     SNES
56                  Super Mario All-Stars     SNES
71                    Donkey Kong Country     SNES
76                       Super Mario Kart     SNES
137  Street Fighter II: The World Warrior     SNES

7. Find the five publishers with the highest total global sales. Note: You will need to calculate the total global sales for each publisher to do this.

In [83]:
gaming[['Publisher', 'Global_Sales']].groupby('Publisher').sum()\
    .sort_values(by = 'Global_Sales', axis=0, ascending=False).head(5)

                             Global_Sales
Publisher
Nintendo                          1788.81
Electronic Arts                   1116.96
Activision                         731.16
Sony Computer Entertainment        606.48
Ubisoft                            471.61

8. Create a new column in the data frame that calculates the percentage of global sales from North America. Display the first five rows of the new data frame.

In [84]:
gaming.insert(10,'Percent_of_Sales_NA',gaming['NA_Sales']/gaming['Global_Sales'])
gaming.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Percent_of_Sales_NA,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,0.501151,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.722664,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,0.441441,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,0.476350,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.359260,NaN,NaN,NaN,NaN,NaN,NaN

9. Find the number NaN entries (missing data values) in each column.

In [ ]:
# Calculates the number of missing values in each column
gaming.isna().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

10. Try to calculate the median user score of all the video games. You will likely run into an error because some of the user score entries are a non-numerical string that cannot be converted to a float. Find and replace this string with NaN and then calculate the median. Then, replace all NaN entries in the user score column with the median value.

In [ ]:
gaming['User_Score']

AttributeError: 'Series' object has no attribute 'type'